*.iml
.gradle
.kotlin
/.idea
/.idea/caches
/.idea/codeStyles
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
app/google-services.json
crashlog.txt
panch1.xml
tracker.xml
tracker2.xml
ui.xml
ui2.xml
ui3.xml
ui4.xml
